ALL_SUBJECTS filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/boxplot_lt_chrome.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]page[[:space:]]load[[:space:]]time,[[:space:]]Chrome.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/progress.xml filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/boxplot_joules_chrome.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/boxplot_joules_opera.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]energy[[:space:]]consumption,[[:space:]]with[[:space:]]preloading.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]first[[:space:]]paint,[[:space:]]without[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]page[[:space:]]load[[:space:]]time,[[:space:]]with[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]first[[:space:]]paint,[[:space:]]Opera.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]page[[:space:]]load[[:space:]]time,[[:space:]]with[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/__MACOSX/2022.10.30_140810 filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]first[[:space:]]paint,[[:space:]]Chrome.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]first[[:space:]]paint,[[:space:]]without[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]first[[:space:]]contentful[[:space:]]paint,[[:space:]]without[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]first[[:space:]]paint,[[:space:]]with[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]page[[:space:]]load[[:space:]]time,[[:space:]]without[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/data filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]energy[[:space:]]consumption,[[:space:]]Opera.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]page[[:space:]]load[[:space:]]time,[[:space:]]Opera.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]energy[[:space:]]consumption,[[:space:]]with[[:space:]]preloading.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]first[[:space:]]contentful[[:space:]]paint,[[:space:]]without[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]first[[:space:]]contentful[[:space:]]paint,[[:space:]]with[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]page[[:space:]]load[[:space:]]time,[[:space:]]without[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]energy[[:space:]]consumption,[[:space:]]without[[:space:]]preloading.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Chrome[[:space:]]first[[:space:]]contentful[[:space:]]paint,[[:space:]]with[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]energy[[:space:]]consumption,[[:space:]]Chrome.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]first[[:space:]]contentful[[:space:]]paint,[[:space:]]Chrome.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/experiment.log filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]energy[[:space:]]consumption,[[:space:]]without[[:space:]]preloading.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Opera[[:space:]]first[[:space:]]paint,[[:space:]]with[[:space:]]preload.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/boxplot_lt_opera.pdf filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/config.json filter=lfs diff=lfs merge=lfs -text
data/2022.10.30_140810/Density[[:space:]]of[[:space:]]first[[:space:]]contentful[[:space:]]paint,[[:space:]]Opera.pdf filter=lfs diff=lfs merge=lfs -text
data/*.html filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
